.orange-btn {
	padding: 10px;
	border-radius: 4px;
	background-color: orange;
	text-decoration: none;
	color: white;
}

.orange-btn:hover {
	padding: 10px;
	border-radius: 4px;
	background-color: orangered;
	text-decoration: none;
	color: white;
}
